.cart {
  width: 100%;
  max-width: 330px;
  background-color: white;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  padding: 100px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(110%, 0);
  transition: all 400ms ease;
  border-left: 1px solid #ddd;
}

.cart-items {
  flex-grow: 1;
  overflow: auto;
}

.cart-resumo {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 20px 0 15px;
  border-top: 1px solid #ddd;
}

.cart-items .cart-item:last-child {
  border-bottom: none;
}

.cart--active {
  transform: translate(0, 0);
}

.button__payment{
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #009ee3;
  color: white;
  cursor: pointer;
}

.button__payment:hover {
  background-color: #0284bb;
}